@using Volo.Abp.Ui.Branding
@using Microsoft.Extensions.Configuration

@inject IBrandingProvider BrandingProvider
@inject IConfiguration Configuration

@{
    var appUrl = Configuration["App:SelfUrl"] ?? "~";
    appUrl = Url.IsLocalUrl(appUrl) ? Url.Content(appUrl.EnsureStartsWith('~')) : appUrl;

    var logoUrl = @BrandingProvider.LogoUrl ?? "~";
    logoUrl = Url.IsLocalUrl(logoUrl) ? Url.Content(logoUrl.EnsureStartsWith('~')) : logoUrl;

    var logoReversedUrl = @BrandingProvider.LogoReverseUrl ?? "~";
    logoReversedUrl = Url.IsLocalUrl(logoReversedUrl) ? Url.Content(logoReversedUrl.EnsureStartsWith('~')) : logoReversedUrl;

    var isNavbarLight = (ViewBag?.IsNavbarLight as bool?) ?? true;
}

@if (isNavbarLight)
{
    <a class="navbar-brand logo h2 mb-0" href="@appUrl">
        <img src="@logoUrl" height="60" class="img-fluid" alt="@BrandingProvider.AppName" />
    </a>
}
else
{
    <a class="navbar-brand logo h2 mb-0" href="@appUrl">
        <img src="@logoReversedUrl" height="60" class="img-fluid" alt="@BrandingProvider.AppName" />
    </a>
}